extend structure/simple.pug

block body
	if !user
		#userlogin
			a(href="/auth/google") Login
	else
		#map

block append scripts
	script(src="scripts/buttons.js")
	script(src="scripts/map.js")
	script(src="scripts/subscriptions.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDakO19FB47AHux8bCnn4kCQkj2wU8o9cE&callback=initMap&libraries=places")