extend structure/simple.pug

block body
	#map
	//
		label#togglebutton.switch
			input#markertoggle(type="checkbox")
			.slider.round
			
block append scripts
	script(src="scripts/buttons.js")
	script(src="scripts/map.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDakO19FB47AHux8bCnn4kCQkj2wU8o9cE&callback=initMap&libraries=places")