#logincard
    padding 25px
    padding-top 30px
    padding-bottom 30px

#logo
    width 200px
    height auto
    margin-left auto
    margin-right auto
    border-radius 13%

#webmap
    font-family: 'Roboto', sans-serif;
    text-align center
    display block
    font-size 4rem
    font-weight 200
    color white
    margin-bottom 40px

#brand
    height 200px
    width 311px
    animation brand 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) 1.4s both

@keyframes brand
    0%
        width 0px
    100%
        width 311px