
body, html
    height 100%
    background-color: rgba(0,0,0,0.7)

.container
    display flex
    align-items center
    justify-content center

.login
    display: block;
    background: white;
    width: 190px;
    white-space: nowrap;
    height 44px
    margin-right auto
    margin-left auto
    border-radius 3px

.login:hover
    box-shadow: 4px 4px 20px rgba(0,0,0,0.6)



.googleicon
    display inline-block
    float left
    vertical-align middle
    height 42px
    width 42px
  
.buttontext
    font-size 14px
    padding-left 50px
    padding-right 42px
    font-weight bold
    margin-bottom 0px



a
    font-family: 'Roboto', sans-serif;
    font-weight: 400
    text-decoration: none
    color grey

a:hover
    text-decoration: none
    
#userlogin
    margin: 0 auto;
    text-align center