body {
  background-color: #c9ecf3;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  display: inline-block;
  background: #fff;
  width: 190px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px #808080;
  white-space: nowrap;
}
#logo {
  width: 100%;
  height: auto;
}
span.googleicon {
  background: url("icons/googlelogo.svg");
  display: inline-block;
  float: left;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
span.buttontext {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 42px;
  padding-right: 42px;
  font-weight: bold;
}
#headding {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3vh;
  text-align: center;
}
.h1 {
  display: block;
  font-weight: 100;
  color: #fff;
}
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #808080;
}
#userlogin {
  margin: 0 auto;
  text-align: center;
}
