.noselect
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

html, body
    margin 0

div, input
    box-sizing border-box

a, a:hover, a:focus, a:active
    text-decoration none !important

#map 
    height 100%
    width 100%
    position absolute
    top 0
    z-index -1

.mapElement
    background-color: white
    border-radius: 2px
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px

#myLocation
    @extends .mapElement

    width 28px
    height 28px
    margin-bottom: 10px
    cursor: pointer

    img
        width 22px
        height 22px
        margin 3px 0px 0px 3px
        object-fit cover
        object-position 0 0

#myLocation:hover
    img
        object-position 88.7% 0

#myLocation.error
    cursor default
    img
        object-position 11.04% 0

#searchbar
    @extends .mapElement

    width 310px
    height 48px
    margin-top 10px
    left 80px
    z-index 100

    input, input:focus, input:active, input:hover
        width 100%
        height 100%
        border none
        outline none
        padding 10px
        font-size 15px
        font-family: Arial, Helvetica, sans-serif
        border-radius: inherit

addIconSize = 59px

#addIcon
    margin-right 10px
    margin-bottom 10px
    width addIconSize
    height addIconSize
    background-size cover
    background-image url('/icons/plus.png')
    border-radius 50%
    cursor pointer
    

#addIcon.active
    background-image url('/icons/plusActive.png')

#atCurrent
    width 42px
    height @width
    margin-right "calc(10px + %s / 2 - %s / 2)" % (addIconSize @width)
    margin-bottom 10px
    background-size cover
    background-image url('/icons/atCurrent.png')
    border-radius 50%
    cursor pointer
    display none

#atCurrent.active
    display block

.pac-container.show
    display block !important

.pac-user-item, .pac-item
    cursor pointer

.yAlign
    position relative
    top 50%
    transform translateY(-50%)

#userLogout
    margin-right 10px
    margin-top 10px



.subscription
    margin-left 10px
    .hider
        background-color transparent
        width 50px
        height 50px
        position absolute
        top 0px
        left 0px
        border-radius 50%

.subscription.hidden
    .hider
        background-color rgba(0, 0, 0, 0.5)

.user
    @extends .noselect
    border-radius 50%
    background-color white
    width 50px
    height 50px
    cursor pointer
    margin-bottom 10px

    img
        border-radius 50%
        width 50px
        height 50px

.profileImageID
    width 50px
    height 50px
    font-size 24px
    color white
    text-transform uppercase
    text-align center
    line-height 50px
    border-radius 50%


.subscriptions
    height 100% /* 100% Full-height */
    width 0 /* 0 width - change this with JavaScript */
    position fixed /* Stay in place */
    z-index -1 /* Stay on top */
    top 0
    left 0
    background-color white /* Black*/
    overflow-x hidden /* Disable horizontal scroll */
    padding-top 60px /* Place content 60px from the top */
    transition 0.5s /* 0.5 second transition effect to slide in the sidenav */
    display inline-block




#hamburger
    background-color white
    height 48px
    width 48px
    margin 10px
    font-size 20pt
    text-align center
    line-height: 48px 
    cursor pointer

.TopNav 
    display inline-block
    width 500px

#closebtn
    position absolute
    width 48px
    height 48px
    margin 10px
    top 0
    font-size 36px
    text-align center
    line-height: 48px 

input:focus
    outline none

#NavSearch
    display inline-block
    position absolute
    top 0
    left 68px
    margin-top 10px
    width 392px
    height 48px
    border-top none
    border-left none
    border-right none
    border-bottom 2px solid
    font-size 15pt
    line-height 1
    border-color #DDD

.text
    display inline-block
    margin-left 10px
    width 200px

#subHeadding
    margin-bottom 15px

#subHeadding:after
    content "" 
    display block 
    width 450px 
    padding-top 10px
    border-bottom 1px solid #DDD

.peopleOuter
    margin 10px

.person
    width 440px
    height 80px
    margin-left 10px
    padding 1px
    
    .user
        float left
    

#Name
    font-size 15px
    line-height 2
    font-weight 600


#Number
    font-size 13px
    color #DDD

.subscribe
    width 115px
    display inline-block
    cursor pointer
    cursor pointer

.subbtn
    background-color #D74D46
    border-radius 3px
    width 115px
    height 28px
    display inline-block
    


.unsubbtn
    background-color #DDD
    border-radius 3px
    width 115px
    height 28px
    display inline-block


.buttonText
    text-align center
    margin-top auto
    margin-bottom auto
    color white
    weight 500
    font-size 15px


.visibility
    display inline-block
    width 35px
    margin-left 25px

#visibilityimg
    width 35px
    filter brightness(0.4) contrast(130%) hue-rotate(30deg)
    display inline-block
   

.flexbox 
    display flex
    justify-content center
    align-items center
    flex-flow column

.settings 
    position absolute
    bottom 0
    z-index 2
    height 60px
    width 100%
    background-color blue