.noselect,
.user {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  margin: 0;
}
div,
input {
  box-sizing: border-box;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
}
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.mapElement,
#myLocation,
#searchbar {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 4px -1px;
}
#myLocation {
  width: 28px;
  height: 28px;
  margin-bottom: 10px;
  cursor: pointer;
}
#myLocation img {
  width: 22px;
  height: 22px;
  margin: 3px 0px 0px 3px;
  object-fit: cover;
  object-position: 0 0;
}
#myLocation:hover img {
  object-position: 88.7% 0;
}
#myLocation.error {
  cursor: default;
}
#myLocation.error img {
  object-position: 11.04% 0;
}
#searchbar {
  width: 392px;
  height: 48px;
  margin-top: 10px;
  left: 80px;
  z-index: 100;
}
#searchbar input,
#searchbar input:focus,
#searchbar input:active,
#searchbar input:hover {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: inherit;
}
#addIcon {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 59px;
  height: 59px;
  background-size: cover;
  background-image: url("/icons/plus.png");
  border-radius: 50%;
  cursor: pointer;
}
#addIcon.active {
  background-image: url("/icons/plusActive.png");
}
#atCurrent {
  width: 42px;
  height: 42px;
  margin-right: calc(10px + 59px / 2 - 42px / 2);
  margin-bottom: 10px;
  background-size: cover;
  background-image: url("/icons/atCurrent.png");
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#atCurrent.active {
  display: block;
}
.pac-container.show {
  display: block !important;
}
.pac-user-item,
.pac-item {
  cursor: pointer;
}
.yAlign {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#userLogout {
  margin-right: 10px;
  margin-top: 10px;
}
.subscription {
  margin-left: 10px;
}
.subscription .hider {
  background-color: transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.subscription.hidden .hider {
  background-color: rgba(0,0,0,0.5);
}
.user {
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}
.user img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.profileImageID {
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}
