.noselect
    user-select: none

#searchbar
    width calc(100% - 78px)
    @media only screen and (min-width: 500px)
        width 310px

#logincard
    padding-top 30px
    padding-bottom 30px
    border-radius: 4px
    @media only screen and (orientation: portrait)
        width 250px


#webmap
    font-family: 'Roboto', sans-serif;
    text-align center
    display block
    font-size 2rem
    font-weight 200 
    color white
    margin-bottom 100px
    margin-top 10px
    @media only screen and (max-height: 380px)
        margin-bottom 30px
    @media only screen and (max-height: 450px) and (min-height 380px)
        margin-bottom 55px
    @media only screen and (max-height: 520px) and (min-height 450px)
        margin-bottom 80px

#logo
    width 130px
    display block
    height auto
    margin-left auto
    margin-right auto
    border-radius 13%

#NavSearch
    width 310px

@media only screen and (max-width: 500px)
    #NavSearch
        width calc(100vw - 78px)

    .peopleOuter
        padding-right 20px
    
    .subscriptions.active
        width 100%

@media only screen and (max-width: 350px)
    .subbtn
        border-radius 50%
        width 42px
        height 42px
    
    .subbtn.active
        border-radius 50%
        width 42px
        height 42px

    .buttonText
        font-size 20px 
        line-height 42px